body {
	background: rgb(0,0,0);
	/*background: linear-gradient(0deg, rgba(0,15,20,1) 0%, rgba(0,4,6,3) 50%, rgba(0,15,20,1) 100%);*/
	background: linear-gradient(0deg, rgba(0,15,20,1) 0%, rgba(0,4,6,3) 40%);
	perspective: 1000px;
	transform-style: preserve-3d;
	display: flex;
	height: 100vh;
	font-family: "Courier New", Courier, monospace;	
	margin: 0px;
}
h1 {
	transform: translateZ(40px);
	color: rgba(255,255,255,0.65);
	margin: 1vw;
	font-size: 1.7vw;
}
h1:after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 10px;
	border-radius: 50%;
	left: 0;
	top: 0;
	transform: translate(0, -20px);
	box-shadow: 0 30px 20px rgba(40, 140, 240, .15);
	background-blend-mode: hard-light;	
}
p {
	color: rgba(210, 210, 230, 0.8);
	transform: translateZ(25px);
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1vw;
}
a {
	color: rgba(170,200,170,1.0);
	pointer-events: auto;		
	transition: 0.15s all;	
	font-size: 0.85vw;
}
p.titleSub {
	display: block;	
	transform: translateZ(40px) scale(1.0);
	color: rgba(245, 245, 250, 0.8);	
	font-weight: 600;
	font-size: 0.85vw;	
	text-align: center;
	transform-style: preserve-3d;		
}
p.miniLinks {
	display: block;	
	transform: translateZ(40px) scale(1.0);		
	font-size: 14px;	
	margin: 6px;
	text-align: center;
	transform-style: preserve-3d;	
}
a.electric {		
	animation: blur 7s ease 0s infinite;	
	-webkit-animation: blur 7s ease 0s infinite;
	-moz-animation: blur 7s ease 0s infinite;		
	-webkit-filter: blur(0px);
}
p.topics {
	display: block;	
	transform: translateZ(30px) scale(1.0);
	font-size: 14px;	
	margin: 6px;
	text-align: center;
	transform-style: preserve-3d;	
	opacity: 0.9;
	color: rgba(210, 210, 245, 0.8);
}
p.contact {		
	margin-top: 0.75vw;
	transform: translateZ(30px) scale(1.0);			
	transform-style: preserve-3d;		
}
@media only screen and (max-width: 1300px) {
  h1 {
	font-size: 2vw;
  }
  p.titleSub {
	font-size: 1.25vw;
  }
  .electric {
	font-size: 1.1vw;
  }  
  p.topics {
	font-size: 1.0vw;
  }
  .contact {
	font-size: 0.9vw;
  }  
}
.card.no-anim {
	animation: none;
	-webkit-animation: none;
	-moz-animation: none;
}
.card {	
	pointer-events: none;
	transform: translateZ(0);
	padding: 0;
	background: rgba(10, 10, 10, 1.0);
	border-radius: 10px;
	width: calc(40vw);
	min-width: 500px;
	height: calc(22vw);
	min-height: 250px;
	margin: auto;
	transition: all 0.2s;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	display: flex;
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	position: relative;
	animation: cardIntro 1s ease-in-out 0s forwards;	
	-webkit-animation: cardIntro 1s ease-in-out 0s forwards;
	-moz-animation: cardIntro 1s ease-in-out 0s forwards;			
	border: 2px solid rgba(17, 19, 26, 0.1);
}
.card:after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 10px;
	border-radius: 50%;
	left: 0;
	bottom: -10%;
	box-shadow: 0 140px 25px rgba(0, 0, 0, .6);
}
@keyframes cardIntro {
  0% {
	transform: rotateX(-45deg) rotateY(0deg) translate(-225%, 0);
  }  
  70% {
    transform: rotateX(15deg) rotateY(0deg) translate(25%, 0);
  }  
  98% {
    transform: rotateX(0deg) rotateY(0deg) translate(0, 0);
  }  
}
.card .card-content  {
	margin: auto;
	text-align: center;
	transform-style: preserve-3d;
}
@keyframes blur {
  0%,
  99% {
    -webkit-filter: blur(1.5px);
    -moz-filter: blur(1.5px);
    -o-filter: blur(1.5px);
    -ms-filter: blur(1.5px);
	color: rgba(200,240,200,1.0);
	text-shadow: 0px 0px 5px rgba(254,254,254,0.9);
  }
  5%,
  95% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
	color: rgba(170,200,170,1.0);
	text-shadow: 0px 0px 0px rgba(254,254,254,0);
  }  
}
.card a:hover {	
	animation: none;
	color: rgba(200,240,200,1.0);	
	text-shadow: 0px 0px 5px white;
	filter: blur(0px);
}
.card-content {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.35);
}
.card-content-text {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 31%;
	width: 68%;		
	height: 100%;
	text-align: center;
	justify-content: center;
	transform-style: preserve-3d;
}
.card-picture {	
	background-image: url('./ha.jpeg');
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-size: cover; 
	position: absolute;	
	pointer-events: auto;
	width: 22%;
	height: 57%;
	left: 6.5%;
	top: 24%;
	transform: translateZ(32px) scale(1.0);
	opacity: 0.85;
	padding: 0px;
	border-radius: 5px;	
	filter: grayscale(55%) brightness(0.55);	
	transition: all 0.5s;
	border: 2px solid #2a2a2a;
}
.card-picture:hover {	
	filter: grayscale(6%) brightness(0.83);	
	transform: translateZ(55px);	
}
.shapesFilmWrap {	
	border-radius: 10px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;

}

.shapesFilmLayer {   		
	position: absolute;	
	left: -100%;
	top: -100%;
	background-image: url('images/bg_pat.png');
	background-repeat: repeat;
	background-color: rgba(50,50,50,50.15);
	width: 300%;
	height: 300%;
	transform-origin: 50% 50%;	
	transition: all 0.2s;
	animation-name: moveBgLayer;
	animation-duration: 30s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background-blend-mode: hard-light;	
	transform: translate(5%, 12%) rotate(3deg);
	filter: hue-rotate(310deg) saturate(0.85);
	
}
.shapesFilmWrap.jump {		
	transform: translateZ(27px) scale(0.99);
	
}

@keyframes moveBgLayer {
  from {
    transform: translate(5%, 12%) rotate(3deg);
	filter: hue-rotate(310deg) saturate(0.85);
	opacity: 0.1;
  }
  to {
    transform: translate(-7%, -2%) rotate(-10deg);
	filter: hue-rotate(330deg) saturate(0.75);
	opacity: 0.2;
  }
}